$text-dark: $dark;
$agreement-text-color: $gray-700;
$bg-white: $white;

.main-content {
  .application-form {
    padding: 30px 30px 77px;
    background: $bg-white;
    border-radius: 10px;
    margin-bottom: 130px;
    .form-subtitle {
      font-size: 1.28rem;
      font-family: $font-manrope-regular;
      margin-bottom: 15px;
    }
    .child-support {
      color: rgba($text-dark, 0.3);
      font-size: 0.71rem;
    }
    .agreement-text {
      color: $agreement-text-color;
      font-size: 1rem;
      line-height: 1.71;
      margin-bottom: 0;
    }
    .btn-disabled {
      display: none;
    }
    .btn-theme-active {
      //display: none;
    }
  }
}
