$bg-color-first: $cyan;
$bg-color-second: $teal;

html {
  font-size: 14px;
}

body {
  font-family: $font-manrope-regular;
}

img {
  max-width: 100%;
}

.container-inner {
  width: 66%;
  margin: 0 auto;
}

.main-content {
  background: linear-gradient(198deg, rgba($bg-color-first, 0.3), rgba($bg-color-second, 0.3));
  margin-top: -30px;
  padding-top: 30px;
  height: 100%;
}
.section-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.section-subtitle {
  font-size: 18px;
  margin-bottom: 46px;
}
